---
import PageLayout from "@/layouts/Base";

const meta = {
	title: "Oops! You found a missing page!",
	description: "Oops! It looks like this page is lost in space!",
};
---

<PageLayout meta={meta} hideHeader>
	<section class="flex h-[70vh] flex-col items-start justify-center">
		<h1 class="title mb-4 text-2xl text-accent md:text-3xl">404s and heartbreaks</h1>
		<p class="mb-8">We could't find the page you were looking for. Check for right url</p>
		<a href="/" class="link my-4 block w-fit" aria-label="Go back to main page">Go back</a>
	</section>
</PageLayout>
