---
import PageLayout from "@/layouts/Base.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import SocialList from "@/components/SocialList.astro";
import MainPreview from "@/components/MainPreview.astro";
import { getAllPosts, sortMDByDate } from "@/utils";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<MainPreview />
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I'm a developer, UI UX Designer and I love learning languages. This is my blog where you
			can find posts on different topics.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((post) => (
					<li class="flex flex-col gap-x-2 sm:flex-row">
						<PostPreview post={post} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
