---
import { Image } from "astro:assets";
---

<div
	class="mb-4 max-h-[286px] w-full rounded-md bg-gradient-to-b from-zinc-800 to-zinc-700 px-0.5 py-0.5 transition-all duration-150 ease-linear"
>
	<Image
		src="/social-card.png"
		alt="preview image"
		class="max-h-[280px] w-full rounded-[6px]"
		loading="eager"
		fetchpriority="high"
		width="800"
		height="400"
	/>
</div>
